apiVersion: apps/v1
kind: Deployment
metadata:
  name: contextapi
spec:
  selector:
    matchLabels:
      app: contextapi
      tier: api
  template:
    metadata:
      labels:
        app: contextapi
        tier: api
    spec:
      containers:
        - name: node
          image: quicklookup/contextapi:c7a7a4f
          resources:
            requests:
              cpu: 200m
              memory: 200Mi
          volumeMounts:
            - mountPath: /cdn
              name: cdn
          ports:
            - containerPort: 4001
          livenessProbe:
            httpGet:
              port: 4001
              path: /api/status/alive
            initialDelaySeconds: 5
            periodSeconds: 5
          readinessProbe:
            httpGet:
              port: 4001
              path: /api/status/ready
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 2
          env:
          - name: DB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: contextsuite
                key: DB_PASSWORD
          - name: REDIS_PASSWORD
            valueFrom:
              secretKeyRef:
                name: contextsuite
                key: REDIS_PASSWORD
          - name: NEO4J_PASSWORD
            valueFrom:
              secretKeyRef:
                name: contextsuite
                key: NEO4J_PASSWORD
          - name: CLICKHOUSE_PASSWORD
            valueFrom:
              secretKeyRef:
                name: contextsuite
                key: CLICKHOUSE_PASSWORD
          - name: SOLR_PASSWORD
            valueFrom:
              secretKeyRef:
                name: contextsuite
                key: SOLR_PASSWORD
          envFrom:
            - configMapRef:
                name: contextapi-config
      imagePullSecrets:
        - name: dockerlock
      volumes:
        - name: cdn
          hostPath:
            path: /data/cdn

---
apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: contextapi
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: contextapi
  maxReplicas: 4
  minReplicas: 1
  targetCPUUtilizationPercentage: 60