# Client configuration for SASL/PLAIN authentication
security.protocol=SASL_PLAINTEXT
sasl.mechanism=PLAIN
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="{{ kafka_admin_user }}" password="{{ vault_kafka_admin_password }}";