apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: formapi
spec:
  rules:
    - host: forms-api.contextsuite.com
      http:
        paths:
          - backend:
              service:
                name: formapi
                port:
                  number: 3001
            path: /
            pathType: Prefix
  tls:
    - hosts:
        - forms.contextsuite.com
      secretName: star-contextsuite-com