apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: ingress
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: ingress
  maxReplicas: 6
  minReplicas: 3
  targetCPUUtilizationPercentage: 60